---
import NavBar from "../components/NavBar1.astro";
import Find from "../components/FInd.astro";
---

<div class="container bg-white dark:bg-lime-500">
	<NavBar />
	<div class="flex flex-1">
		<Find />
	</div>
</div>
