---
import { ThemeSwitch } from "astro-color-scheme";
---
<!-- https://github.com/surjithctly/astro-color-scheme#readme -->
<div>
  <ThemeSwitch strategy="select" defaultTheme="system">
    <select>
      <option value="system">System</option>
      <option value="dark">Dark</option>
      <option value="light">Light</option>
    </select>
  </ThemeSwitch>
</div>